.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }


    // tiny-slider

    // [data-controls=prev]  {
    .prev, .next  {    
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next  {
        right: -66px;
        left: auto;
    }
    .tns-item{
        img{
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            background-color: rgb(146, 121, 121);
            width: 50px;
            height: 20px;
            margin: 15px;
            border-radius: 15px;
            border: none;
        }
        .tns-nav-active{
            background-color: red;
        }
    }
}